<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <h2>Walk with <%= current.pet.petName %> start!</h2>
    </div>
    <div class="mt-5">  <!-- Add Report start -->
        <h2>Add a Report</h2> <!-- Add report start -->
        <form action="/report/createReport/<%=current._id%>" method="POST">
          <div class="mb-3">
              <label for="report" class="form-label">Report</label> <!-- report info to db -->
              <input type="text" class="form-control" id="report" name="report">
  
              <label for="numberOne" class="form-label">Number One?</label>
                <input type="checkbox" name="numberOne" value="true">
                <input type="checkbox" name="numberOne" value="false">
  
              <label for="numberTwo" class="form-label">Number Two?</label>
                <input type="checkbox" name="numberTwo" value="true">
                <input type="checkbox" name="numberTwo" value="false">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>          <!-- Add Report end -->
</main>
    

<%- include('partials/footer') -%>